body{
  font-family: sans-serif;
  margin:0;
}

table{
  border-collapse: collapse;
  width:50%;
}

td , th{
  border:1px solid black; 
  padding:8px;
  width:33.33%;
}

th{
  background: orange;
  text-align: left;
}

.last_td{
  text-align: center;
}